* {
    margin: 0;
    text-decoration: none;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(36, 36, 36); */
    color: white;
    /* background-image: url("../vectors/back01.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    /* border: 1px solid white; */
    width: 100%;
    display: block;
    position: absolute;
    z-index: 100;
}

.navbar .logo {
    float: left;
    font-family: 'Zain', cursive;
    font-weight: lighter;
    color: white;
    font-size: 2vw;
}
.logo-img{
    display: inline-block;
    height: 8vw;
    width: auto;
}
.logo-img-intext{
    display: inline;
    height: 2.6vw;
    margin-right: 0.5vw;
    width: auto;
}
/* nav{
    padding: 5vw 0vw;
    height : 100px;
    width : 100%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .nav-part2 {
        display: flex;
        align-items: center;
        gap: 1vw;
        } */
.get-started::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid blueviolet;
    top: 50%;
    left: 50%;
    z-index: -2;
    translate: -50% -50%;
}
.get-started {
    margin: 1.4vw;
    position: relative;
    float: right;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
    transition: all ease 0.4s;
    font-size: 1.5vw;
    font-family: 'Gabarito', cursive;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.get-started::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    z-index: -1;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.get-started:hover{
    color: #242424;
}
.get-started:hover::after{
    bottom: 0;
    border-radius: 0;
}
/* .nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color:white;
} */
.first-view{
    display: block;
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-color: #242424;
    /* z-index: -1; */
    contain: paint;
    overflow: hidden;
}
.title-box {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* border: 5px solid blue; */
}

.title-box-title {
    z-index: 10;
    font-family: 'Gabarito', sans-serif;
    font-weight: 800;
    font-size: 6vw;
    width: 60%;
    background: linear-gradient(to right,
            #50a956,
            #4cb453,
            #7be082,
            #a3ffa9,
            #7be082,
            #4cb453,
            #50a956);
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnim 3s linear infinite;
}

@keyframes gradientAnim {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.title-box-subtitle {
    font-family: 'Zain', cursive;
    width: 60%;
    font-size: 2.6vw;
    margin: 1vw;
    z-index: 10;
}


/* Arranging images on our webpage */

.product{
    position: absolute;
}
.product .oreo{
    position: absolute;
    top: 30vh;
    left: -10vw;
    display: block;
    height: 15vw;
    width: auto;
    transform: rotate(15deg);
    /* width: 20%; */
    z-index: 1;
    transition: 1s;
    animation: move 2s infinite linear;
}
.product .bourbon{
    position: absolute;
    top: 15vh;
    left: -8vw;
    display: block;
    height: 10vw;
    width: auto;
    transform: rotate(-5deg);
    /* width: 20%; */
    z-index: 1;
    transition: 1s;
}
.product .shampoo{
    /* border: 1px solid white; */
    position: absolute;
    top: 65vh;
    left: 2vw;
    display: block;
    height: 30vw;
    width: auto;
    transform: rotate(20deg);
    z-index: 1;
    transition: 1s;
}
.product .lays{
    /* border: 1px solid white; */
    position: absolute;
    top: 10vh;
    left: 80vw;
    display: block;
    height: 30vw;
    width: auto;
    transform: rotate(-40deg);
    z-index: 2;
    transition: 1s;
}
.product .chips{
    /* border: 1px solid white; */
    position: absolute;
    top: 0vh;
    left: 70vw;
    display: block;
    height: 15vw;
    width: auto;
    transform: rotate(-40deg);
    z-index: 1;
    transition: 1s;
}

.product .mamaearth{
    /* border: 1px solid white; */
    position: absolute;
    top: 65vh;
    left: 02vw;
    display: block;
    height: 30vw;
    width: auto;
    transform: rotate(40deg);
    z-index: 1;
    transition: 1s;
}
.product .himalaya{
    /* border: 1px solid white; */
    position: absolute;
    top: 75vh;
    left: 15vw;
    display: block;
    height: 20vw;
    width: auto;
    transform: rotate(30deg);
    z-index: 1;
    transition: 1s;
}
.product .fogg{
    /* border: 1px solid white; */
    position: absolute;
    top: 60vh;
    left: 80vw;
    display: block;
    height: 30vw;
    width: auto;
    transform: rotate(-30deg);
    z-index: 1;
    transition: 1s;
}
.product .dettol{
    /* border: 1px solid white; */
    position: absolute;
    top: 80vh;
    left: 70vw;
    display: block;
    height: 20vw;
    width: auto;
    transform: rotate(50deg);
    z-index: 1;
    transition: 1s;
}
@keyframes move {
    
}

.sample{
    display: block;
    height: 100vh;
    width: auto;
    background-color: antiquewhite;
}