body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    padding-left: 1%;
    border-radius: 20px;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    padding: 20px;
}

.input{
    float: left;
    width: 90%;
    height: 8vh;
    margin: 1%;
    border: none;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    transition: 0.2s;
}
.input:focus{
    outline: none;
    background-color: rgb(240, 250, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.small{
    /* float: left; */
    width: 30%;
    display: inline-block;
}
#imageInput {
    display: none;
}

/* Style the label to look like a button */
.custom-file-upload {
    display: block;
    float: left;
    height: 10%;
    width: 20%;
    /* margin: 1%; */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    /* text-align: center; */
    /* align-self: flex-start; */
    margin-left: 0;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}
.submit{
    width: 40%;
    height: 8vh;
    margin: 1%;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
    color: white;
    transition: 0.5s;
}
.submit:hover{
    background-color: #000000;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
